<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Remote Tax Preparer Web App</display-name>
	<welcome-file-list>
		<welcome-file>inbox</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/login/*</url-pattern>
		<url-pattern>/inbox/*</url-pattern>
		<url-pattern>/recover/*</url-pattern>
		<url-pattern>/settings/*</url-pattern>
	</filter-mapping>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/tax_preparer_db</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<error-page>
		<error-code>404</error-code>
		<location>/template/404.html</location>
	</error-page>
</web-app>
