/*
MCLTaxes main CSS
Copyright 2020

Complementary color: #48bfbb;
*/
body {
	background: url("../img/back.png") no-repeat fixed 50% 0;
	background-size: cover;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Lato', sans-serif;
}

a {
	color: #48bfbb;
}

a:hover {
	color: #48bfbb;
}

hr {
	background: white;
	width: 820px;
	border: none;
	height: 1px;
}

div.main {
	position: absolute;
	margin: 20px 0 0 0;
	background: rgba(0, 0, 0, .7);
	box-sizing: border-box;
	width: 960px;
	padding: 0px;
	transform: translate(-50%, 0);
	left: 50%;
	top: 0;
	text-align: center;
}

div.block {
	width: 100%;
	box-sizing: border-box;
	padding: 27px 70px;
}

div#footer a {
	font-size: 2em;
	color: white;
	margin: 0 10px;
}

span.nav-item a, span.nav-selected a {
	text-decoration: none;
}

span.nav-item, span.nav-selected {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
	margin: 0 30px;
	padding: 0;
}

span.nav-item:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 50%;
	width: 0;
	height: 3px;
	transition: all 0s ease-in-out;
	transition-duration: 0.2s;
	opacity: 0;
	background: white;
	transform: translate(-50%, 0);
}

span.nav-item:hover::after {
	width: 100%;
	opacity: 1;
}

span.nav-selected:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 50%;
	width: 100%;
	height: 3px;
	background: white;
	transform: translate(-50%, 0);
}

#burger {
	display: none;
}

div#content {
	text-align: left;
}

div.row {
	background: black;
	border-radius: 5px;
}

.btn-primary {
	background: #48bfbb;
	border: 0;
	margin-top: 2px;
}

.card {
  color: black;
}

div.inboxIcon {
	background: #48bfbb;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 2px;
	width: 100%
}

@media only screen and (max-width: 850px) {
	div.main {
		margin: 0;
		width: 100%;
	}
	div#nav, div#logo {
		background: black;
	}
	div#logo {
		height: 70px;
		position: relative;
	}
	div#logo img {
		width: 84px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	div#nav {
		width: 100%;
		position: absolute;
		display: none;
		right: 0;
		padding: 10px;
		transition: transform 0s ease-in-out;
		transition-duration: 0.5s;
		transform: scale(1, 0);
		transform-origin: top;
		z-index: 50;
	}
	.nav-separator {
		display: none;
	}
	#burger {
		display: block;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 2em;
	}
	span.nav-selected, span.nav-item {
		display: block;
		margin: 0 0 10px 0;
	}
	div#content {
		padding: 27px;
	}
	span.nav-selected:after {
		width: 50%;
	}
	span.nav-item:hover:after {
		width: 50%;
	}
}